/AbstractSessioneVoto.class
/AbstractSessioneVotoFactory.class
/AdminClientDao.class
/Candidato.class
/ConcreteStrategyCategorico.class
/ConcreteStrategyCategoricoConPreferenza.class
/ConcreteStrategyOrdinale.class
/ConcreteStrategyReferendum.class
/Elettore.class
/Gestore.class
/Gruppo.class
/IllegalBeginningVotingSession.class
/Maggioranza.class
/MaggioranzaAssoluta.class
/ModalitaVincitaContext.class
/ModalitaVincitaStrategy.class
/ModalitaVotoContext.class
/ModalitaVotoStrategy.class
/ReferendumConQuorum.class
/ReferendumSenzaQuorum.class
/SessioneVoto.class
/SessioneVotoFactory.class
/Utente.class
/Votable.class
/VotableModel.class
